<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% [
            {name:'Torie',age:15},
            {name:'Ariana',age:17}
        ].forEach(function(r) {
    %>
        <li><%= r.name %> - <%= r.age %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
